openapi: 3.0.3
info:
  title: Mtaa API
  description: |
    API specification for Mtaa - Hyperlocal Kenyan Neighborhood Social Network
    
    All endpoints require authentication via JWT Bearer token unless otherwise specified.
  version: 1.0.0
  contact:
    name: Mtaa API Support
    email: api@mtaa.app

servers:
  - url: https://api.mtaa.app/api/v1
    description: Production server
  - url: https://staging-api.mtaa.app/api/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and registration
  - name: Posts
    description: Neighborhood posts and comments
  - name: Safety
    description: Safety alerts and emergency reporting
  - name: Marketplace
    description: Marketplace listings and transactions
  - name: Events
    description: Community events and RSVPs
  - name: Messaging
    description: Direct messaging and conversations
  - name: Notifications
    description: User notifications
  - name: Location
    description: Neighborhood and location services
  - name: Admin
    description: Admin and moderation endpoints
  - name: Search
    description: Search functionality

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        phone_number:
          type: string
        full_name:
          type: string
        username:
          type: string
        profile_image_url:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        neighborhood_id:
          type: string
          format: uuid
        location_verified:
          type: boolean
        verification_status:
          type: string
          enum: [pending, verified, rejected]
        language_preference:
          type: string
          enum: [en, sw]
        created_at:
          type: string
          format: date-time
    
    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        neighborhood_id:
          type: string
          format: uuid
        category:
          type: string
          enum: [news, discussion, question, announcement, lost_found]
        title:
          type: string
        content:
          type: string
        media_urls:
          type: array
          items:
            type: string
        location_latitude:
          type: number
          nullable: true
        location_longitude:
          type: number
          nullable: true
        is_anonymous:
          type: boolean
        like_count:
          type: integer
        comment_count:
          type: integer
        created_at:
          type: string
          format: date-time
    
    Comment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        post_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        parent_comment_id:
          type: string
          format: uuid
          nullable: true
        content:
          type: string
        like_count:
          type: integer
        created_at:
          type: string
          format: date-time
    
    SafetyAlert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        neighborhood_id:
          type: string
          format: uuid
        alert_type:
          type: string
          enum: [crime, accident, fire, medical, other]
        severity:
          type: string
          enum: [low, medium, high, critical]
        title:
          type: string
        description:
          type: string
        location_latitude:
          type: number
        location_longitude:
          type: number
        address:
          type: string
          nullable: true
        is_verified:
          type: boolean
        verification_count:
          type: integer
        is_resolved:
          type: boolean
        created_at:
          type: string
          format: date-time
    
    MarketplaceListing:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        neighborhood_id:
          type: string
          format: uuid
        category:
          type: string
          enum: [electronics, furniture, vehicles, clothing, services, food, other]
        title:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
          default: KES
        condition:
          type: string
          enum: [new, like_new, good, fair, poor]
        image_urls:
          type: array
          items:
            type: string
        is_negotiable:
          type: boolean
        is_sold:
          type: boolean
        created_at:
          type: string
          format: date-time
    
    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        neighborhood_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        event_type:
          type: string
          enum: [social, business, community, religious, sports, other]
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
          nullable: true
        location_name:
          type: string
        location_latitude:
          type: number
        location_longitude:
          type: number
        is_free:
          type: boolean
        ticket_price:
          type: number
          nullable: true
        rsvp_count:
          type: integer
        created_at:
          type: string
          format: date-time
    
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status_code:
          type: integer
    
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      description: Register a new user and send OTP via SMS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number, full_name, username, neighborhood_id]
              properties:
                phone_number:
                  type: string
                  example: "+254712345678"
                full_name:
                  type: string
                  example: "John Doe"
                username:
                  type: string
                  example: "johndoe"
                neighborhood_id:
                  type: string
                  format: uuid
                address:
                  type: string
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    format: uuid
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/verify-otp:
    post:
      tags: [Authentication]
      summary: Verify OTP and get tokens
      description: Verify OTP code and receive JWT tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number, otp_code]
              properties:
                phone_number:
                  type: string
                otp_code:
                  type: string
                  pattern: '^[0-9]{6}$'
      responses:
        '200':
          description: OTP verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Invalid OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Request login OTP
      description: Send OTP to user's phone number for login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number]
              properties:
                phone_number:
                  type: string
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
    
    put:
      tags: [Authentication]
      summary: Update user profile
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                bio:
                  type: string
                profile_image_url:
                  type: string
                language_preference:
                  type: string
                  enum: [en, sw]
                mpesa_number:
                  type: string
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'

  /posts:
    get:
      tags: [Posts]
      summary: Get posts feed
      parameters:
        - name: neighborhood_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
            enum: [news, discussion, question, announcement, lost_found]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, trending, most_liked]
            default: newest
      responses:
        '200':
          description: Posts list
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    
    post:
      tags: [Posts]
      summary: Create new post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neighborhood_id, category, title, content]
              properties:
                neighborhood_id:
                  type: string
                  format: uuid
                category:
                  type: string
                  enum: [news, discussion, question, announcement, lost_found]
                title:
                  type: string
                content:
                  type: string
                media_urls:
                  type: array
                  items:
                    type: string
                location_latitude:
                  type: number
                location_longitude:
                  type: number
                is_anonymous:
                  type: boolean
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    $ref: '#/components/schemas/Post'

  /posts/{id}:
    get:
      tags: [Posts]
      summary: Get single post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post details
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    $ref: '#/components/schemas/Post'
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
    
    put:
      tags: [Posts]
      summary: Update post
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                media_urls:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Post updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    $ref: '#/components/schemas/Post'
    
    delete:
      tags: [Posts]
      summary: Delete post
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /posts/{id}/like:
    post:
      tags: [Posts]
      summary: Like/unlike post
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Like toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  liked:
                    type: boolean
                  like_count:
                    type: integer

  /posts/{post_id}/comments:
    get:
      tags: [Posts]
      summary: Get comments for post
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Comments list
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    
    post:
      tags: [Posts]
      summary: Create comment
      security:
        - bearerAuth: []
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                parent_comment_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    $ref: '#/components/schemas/Comment'

  /safety-alerts:
    get:
      tags: [Safety]
      summary: Get safety alerts
      parameters:
        - name: neighborhood_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: alert_type
          in: query
          schema:
            type: string
            enum: [crime, accident, fire, medical, other]
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Safety alerts list
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/SafetyAlert'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    
    post:
      tags: [Safety]
      summary: Create safety alert
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neighborhood_id, alert_type, severity, title, description, location_latitude, location_longitude]
              properties:
                neighborhood_id:
                  type: string
                  format: uuid
                alert_type:
                  type: string
                  enum: [crime, accident, fire, medical, other]
                severity:
                  type: string
                  enum: [low, medium, high, critical]
                title:
                  type: string
                description:
                  type: string
                location_latitude:
                  type: number
                location_longitude:
                  type: number
                address:
                  type: string
                media_urls:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Safety alert created
          content:
            application/json:
              schema:
                type: object
                properties:
                  alert:
                    $ref: '#/components/schemas/SafetyAlert'

  /safety-alerts/{id}/verify:
    post:
      tags: [Safety]
      summary: Verify safety alert
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Alert verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  alert:
                    $ref: '#/components/schemas/SafetyAlert'
                  verification_count:
                    type: integer

  /marketplace/listings:
    get:
      tags: [Marketplace]
      summary: Get marketplace listings
      parameters:
        - name: neighborhood_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
            enum: [electronics, furniture, vehicles, clothing, services, food, other]
        - name: min_price
          in: query
          schema:
            type: number
        - name: max_price
          in: query
          schema:
            type: number
        - name: search
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Listings list
          content:
            application/json:
              schema:
                type: object
                properties:
                  listings:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarketplaceListing'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    
    post:
      tags: [Marketplace]
      summary: Create marketplace listing
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neighborhood_id, category, title, description, price, condition, image_urls]
              properties:
                neighborhood_id:
                  type: string
                  format: uuid
                category:
                  type: string
                  enum: [electronics, furniture, vehicles, clothing, services, food, other]
                title:
                  type: string
                description:
                  type: string
                price:
                  type: number
                condition:
                  type: string
                  enum: [new, like_new, good, fair, poor]
                image_urls:
                  type: array
                  items:
                    type: string
                is_negotiable:
                  type: boolean
      responses:
        '201':
          description: Listing created
          content:
            application/json:
              schema:
                type: object
                properties:
                  listing:
                    $ref: '#/components/schemas/MarketplaceListing'

  /marketplace/transactions:
    post:
      tags: [Marketplace]
      summary: Initiate M-Pesa payment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listing_id, amount]
              properties:
                listing_id:
                  type: string
                  format: uuid
                amount:
                  type: number
      responses:
        '201':
          description: Payment initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    type: object
                  mpesa_payment_request:
                    type: object

  /events:
    get:
      tags: [Events]
      summary: Get events
      parameters:
        - name: neighborhood_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          schema:
            type: string
            enum: [social, business, community, religious, sports, other]
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Events list
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    
    post:
      tags: [Events]
      summary: Create event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [neighborhood_id, title, description, event_type, start_datetime, location_name, location_latitude, location_longitude]
              properties:
                neighborhood_id:
                  type: string
                  format: uuid
                title:
                  type: string
                description:
                  type: string
                event_type:
                  type: string
                  enum: [social, business, community, religious, sports, other]
                start_datetime:
                  type: string
                  format: date-time
                end_datetime:
                  type: string
                  format: date-time
                location_name:
                  type: string
                location_latitude:
                  type: number
                location_longitude:
                  type: number
                address:
                  type: string
                image_url:
                  type: string
                is_free:
                  type: boolean
                ticket_price:
                  type: number
                max_attendees:
                  type: integer
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    $ref: '#/components/schemas/Event'

  /events/{id}/rsvp:
    post:
      tags: [Events]
      summary: RSVP to event
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [going, maybe, not_going]
      responses:
        '200':
          description: RSVP updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  rsvp:
                    type: object
                  event:
                    $ref: '#/components/schemas/Event'

  /conversations:
    get:
      tags: [Messaging]
      summary: Get user conversations
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Conversations list
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      type: object

  /conversations/{id}/messages:
    get:
      tags: [Messaging]
      summary: Get messages for conversation
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Messages list
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    
    post:
      tags: [Messaging]
      summary: Send message
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                media_url:
                  type: string
                message_type:
                  type: string
                  enum: [text, image, video, file]
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object

  /notifications:
    get:
      tags: [Notifications]
      summary: Get user notifications
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: unread_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Notifications list
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /neighborhoods:
    get:
      tags: [Location]
      summary: Get neighborhoods
      parameters:
        - name: city
          in: query
          schema:
            type: string
        - name: county
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Neighborhoods list
          content:
            application/json:
              schema:
                type: object
                properties:
                  neighborhoods:
                    type: array
                    items:
                      type: object

  /search:
    get:
      tags: [Search]
      summary: Global search
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [posts, marketplace, users, events, all]
        - name: neighborhood_id
          in: query
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'



